In [ ]:

pd.set_option('display.max_colwidth', 200) # type: ignore
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 20)
pd.options.display.float_format = "{:.2f}".format

In [ ]:
YEAR_START=2014
YEAR_END=2023

In [ ]:
import pandas as pd, numpy as np, os # type: ignore
YEAR_START, YEAR_END = 2000, 2018
years = np.arange(YEAR_START, YEAR_END + 1)
dfs = []
data_directory = r'C:\Users\Admin\Desktop\tennis-blog-master\tennis-blog-master\data\atp'
for year in years:
    file_path = os.path.join(data_directory, f'atp_matches_{year}.csv')
    if os.path.exists(file_path):
        df_tmp = pd.read_csv(file_path)
        df_tmp['year'] = year
        dfs.append(df_tmp)
    else:
        print(f'File not found: {file_path}')
if dfs:
    df_raw = pd.concat(dfs, ignore_index=True)
    print(df_raw.head())
else:
    print('No data files were loaded. Please check the file paths and availability.')

  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0   2000-339     Adelaide    Hard        NaN             A      20000103
1   2000-339     Adelaide    Hard        NaN             A      20000103
2   2000-339     Adelaide    Hard        NaN             A      20000103
3   2000-339     Adelaide    Hard        NaN             A      20000103
4   2000-339     Adelaide    Hard        NaN             A      20000103

   match_num  winner_id  winner_seed winner_entry          winner_name  \
0          1     102358         1.00          NaN       Thomas Enqvist
1          2     103819          NaN          NaN        Roger Federer
2          3     102998          NaN          NaN  Jan Michael Gambill
3          4     103206         7.00          NaN   Sebastien Grosjean
4          5     102796         3.00          NaN        Magnus Norman

  winner_hand  winner_ht winner_ioc  winner_age  loser_id  loser_seed  \
0           R     190.00        SWE       25.81    103096         NaN
1           R     185.00        SUI       18.40    102533         NaN
2           R     190.00        USA       22.58    101885         NaN
3           R     175.00        FRA       21.60    102776         NaN
4           R     188.00        SWE       23.59    102401         NaN

  loser_entry        loser_name loser_hand  loser_ht loser_ioc  loser_age  \
0         NaN    Arnaud Clement          R    173.00       FRA      22.05
1         NaN  Jens Knippschild          R    190.00       GER      24.88
2         NaN     Wayne Arthurs          L    190.00       AUS      28.80
3         NaN       Andrew Ilie          R    180.00       AUS      23.71
4          WC      Scott Draper          L    178.00       AUS      25.58

            score  best_of round  minutes  w_ace  w_df  w_svpt  w_1stIn  \
0         6-3 6-4        3   R32    76.00   6.00  0.00   66.00    29.00
1         6-1 6-4        3   R32    45.00   6.00  3.00   46.00    28.00
2  3-6 7-6(5) 6-4        3   R32   115.00   8.00  3.00   81.00    40.00
3         6-2 6-1        3   R32    65.00   4.00  2.00   66.00    35.00
4         6-4 6-4        3   R32    68.00   6.00  2.00   52.00    32.00

   w_1stWon  w_2ndWon  w_SvGms  w_bpSaved  w_bpFaced  l_ace  l_df  l_svpt  \
0     23.00     23.00    10.00       2.00       2.00   1.00  3.00   59.00
1     24.00     12.00     9.00       0.00       0.00   3.00  5.00   42.00
2     35.00     28.00    15.00       0.00       1.00  26.00  2.00  103.00
3     28.00     14.00     7.00       4.00       4.00   0.00  3.00   49.00
4     26.00     12.00    10.00       0.00       1.00   4.00  2.00   73.00

   l_1stIn  l_1stWon  l_2ndWon  l_SvGms  l_bpSaved  l_bpFaced  winner_rank  \
0    37.00     25.00     13.00     9.00       2.00       4.00         4.00
1    15.00     13.00     12.00     8.00       0.00       3.00        64.00
2    59.00     49.00     22.00    16.00       4.00       5.00        58.00
3    22.00     12.00      8.00     8.00       1.00       6.00        27.00
4    40.00     25.00     16.00    10.00       7.00      10.00        15.00

   winner_rank_points  loser_rank  loser_rank_points  year
0             1850.00       56.00             490.00  2000
1              515.00       91.00             404.00  2000
2              544.00      105.00             243.00  2000
3              928.00       54.00             602.00  2000
4             1244.00      154.00             219.00  2000

In [ ]:
cols=['year','tourney_level','score']
df=df_raw[cols].copy()
df

       year tourney_level           score
0      2000             A         6-3 6-4
1      2000             A         6-1 6-4
2      2000             A  3-6 7-6(5) 6-4
3      2000             A         6-2 6-1
4      2000             A         6-4 6-4
...     ...           ...             ...
58774  2018             F         6-2 6-2
58775  2018             F         6-4 6-3
58776  2018             D     6-2 7-5 6-4
58777  2018             D     6-3 7-5 6-4
58778  2018             D  7-6(3) 6-3 6-3

[58779 rows x 3 columns]